

services:
  apache:
    build: .
    container_name: apache-php83
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html:cached   # <-- important pour Windows
    depends_on:
      - db
    networks:
      - mynet

  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sport
    volumes:
      - db_data:/var/lib/mysql
      - ./database.sql:/docker-entrypoint-initdb.d/database.sql
    networks:
      - mynet

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8081:80"
    networks:
      - mynet

networks:
  mynet:

volumes:
  db_data:
